route:
  receiver: telegram

receivers:
  - name : telegram
    telegram_configs:
      - bot_token: {{ alertmanager_bot_token }}
        api_url: https://api.telegram.org
        chat_id: {{ alertmanager_chat_id }}
        parse_mode: ''