[Unit]
Description=Start Prometheus in Docker
After=docker.service
Requires=docker.service
[Service]
Restart=always
ExecStartPre=-/usr/bin/docker rm {{ prometheus_service_name }}
ExecStart=/usr/bin/docker run --rm \
--name {{ prometheus_service_name }} \
--net {{ project_network_name }} \
--ip {{ project_prometheus_ip }} \
-p {{ prometheus_port }}:{{ prometheus_port }} \
-v {{ prometheus_directory_configs }}:/etc/prometheus \
-v prom_data:/prometheus \
{{ prometheus_pull_docker_image}}
ExecStop=/usr/bin/docker stop {{ prometheus_service_name }}
[Install]
WantedBy=multi-user.target