global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s
rule_files:
  - 'alert.rules'
alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - {{ project_alertmanager_ip }}:9093
    scheme: http
    timeout: 10s
    api_version: v1
scrape_configs:
- job_name: prometheus
  honor_timestamps: true
  scrape_interval: 15s
  scrape_timeout: 10s
  metrics_path: /metrics
  scheme: http
  static_configs:
  - targets:
    - {{ ip_server_prod }}:9090
- job_name: blackbox
  metrics_path: /probe
  params:
    module: [http_2xx]
  static_configs:
    - targets:
      - http://mzhdanko.by
  relabel_configs:
    - source_labels: [__address__]
      target_label: __param_target
    - source_labels: [__param_target]
      target_label: instance
    - target_label: __address__
      replacement: {{ ip_server_prod }}:9115
- job_name: prod
  static_configs:
  - targets:
    - {{ ip_server_prod }}:9100